.nav_container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.nav_item {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}
.nav_item:hover {
  transition: 0.3s;
  color: #ffffff;
}
.active {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
