.nav_container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.user_menu__container,
.auth_menu__container {
  display: flex;
}
.user_menu__container :not(last-child),
.auth_menu__container :not(last-child) {
  margin-left: 50px;
}

.nav_menu__container {
  display: flex;
}
.nav_menu__container :not(last-child) {
  margin-right: 50px;
}

.user_name {
  display: flex;
  margin: 0;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
}
.nav_item {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}
.nav_item:hover {
  transition: 0.3s;
  color: #ffffff;
}
.active {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
.link_auth0 {
  display: flex;
  color: black;
  justify-content: center;
}
.link_auth0:hover {
  transition: 0.3s;
  color: white;
}
